@model IEnumerable<PS_Store.Models.Special>

@{
    ViewBag.Title = "Index";
}

<h2>Special</h2>
<h3>See what we are on sale right now!</h3>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Short Description
        </th>
   
        <th>
            Price Was
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.ThumbnailImage)" alt="" />
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>

        
        <td>
            @Html.DisplayFor(modelItem => item.PriceBefore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id=item.Id }) 

        </td>
    </tr>
}

</table>
